
* {
  margin: 0;
  text-align: center;
  font-family: 'Oswald';
  color: #353535;
}

#title {
  height: 200px;
}

.about {
  height: 200px;
  margin: 20px;
}

.project-line {
  height: 100px;
}

.bubble {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 40px 35px;
  border: 1px solid #353535;
  display: inline-table;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

hr {
  position: relative;
  top: 94px;
  z-index: -1;
  background-color: #353535;
  height: 2px;
}

.hovering {
  height: 300px;
  width: 300px;
  border-radius: 8%;
  border: 1px solid #353535;
  vertical-align: middle;
  display: inline-table;
  background-size: cover;
  background-position: center;
}

.proj1{
  background-image: url('../imgs/shia.png');
}
.proj2{
  background-image: url('../imgs/canuck.png');
}
.proj3{
  background-image: url('../imgs/tracker.png');
}
.proj4{
  background-image: url('../imgs/veggie.png');
}
.proj5{
  background-image: url('http://netdna.webdesignerdepot.com/uploads/2012/11/code.jpg');
}

.bubble p {
  display:none;
}

.bubble h3 {
  display:none;
}

.hovering p {
  color: white;
  position: relative;
  top: 200px;
}

.hovering h3 {
  color: white;
  position: relative;
  top: 200px;
}

.proj3 h3 {
  color: black;
}

.proj3 p {
  color: black;
}

.proj4 h3 {
  color: black;
}

.proj4 p {
  color: black;
}



#projectdiv {
  margin: 0 auto 60px auto;
}

